body::-webkit-scrollbar {
  display: none; /* Safari and Chrome browsers */
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* mozilla */
}

/* FOR EASING TRANSITIONS */
/* * {
  transition: all 0.2s ease-in-out;
} */

strong {
  background: linear-gradient(
    to right,
    #19b7d3,
    #d018e0,
    rgb(218, 19, 13),
    lime,
    #19b7d3
  );
  -webkit-background-clip: text;
  color: transparent;
  background-size: 100vw;
  background-position: 100vw;
  animation: colorgrad-anim 20s infinite linear alternate;
}
@keyframes colorgrad-anim {
  0% {
    background-position: 200vw;
  }
  25% {
    background-position: 300vw;
  }
  50% {
    background-position: 400vw;
  }
  75% {
    background-position: 200vw;
  }
}

@media print {
  @page {
    /* size: A4; */
    size:A4 portrait;
    margin: 0;
  }
  html,
  body {
    width: 210mm;
    height: 297mm;
    page-break-after: avoid;
  }
  /* ... the rest of the rules ... */
  * {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important; /* Firefox 48 – 96 */
    print-color-adjust: exact !important; /* Firefox 97+, Safari 15.4+ */
  }
}
